.btn-custom {
  background-color: #3b82f6;
  border-color: #1d4ed8;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom-width: 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.btn-custom:hover {
  background-color: #2563eb;
  border-color: #2563eb;
  border-bottom-width: 0.25rem;
}
